@model MyMovieApp.Entity.ThetreModel;
@{
    ViewData["Title"] = "EditTheater";
}

<h1 clsss="text-center">Edit Theater</h1>



<form method="post">
    <div class="form-group">
        <label>
            Theater Title
        </label>
        <input type="text" class="form-control" asp-for="Name"/>
    </div>

    


    

    <input type="submit" value="Updates" class="btn btn-primary" />
    <input type="button" value="Reset" class="btn btn-primary" />
</form>